.body {
	-fx-min-width: 1080.0;
	-fx-min-height:1080.0;
	-fx-background-color: #ffffff;
}
.titulo {
	-fx-font-size: 18px;
	-fx-font-weight: bold;	
    -fx-font-family: Roboto;
    -fx-text-fill: #676C6E;
}
.texto-resultado {
	-fx-font-size: 30px;
	-fx-font-weight: bold;	
	-fx-font-family: Roboto;	
}
.verde {
	-fx-fill: #00C853;
}
.vermelho {
	-fx-fill: #D50000;
}

.menu-lateral {
	-fx-background-color: rgb(247, 249, 250);
	-fx-min-height:1080.0;
	-fx-min-width: 400.0;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}

.input-label {
	-fx-font-size: 16px;
	-fx-font-weight: bold;	
    -fx-font-family: Roboto;
    -fx-text-fill: #676C6E;
}

.botao-arquivo {
	-fx-background-color: white;
	-fx-text-fill:  #676C6E;	
	-fx-background-radius: 0.8em; 
	-fx-font-size: 48px;	
    -fx-font-family: Roboto;
    -fx-cursor: hand;
    -fx-border-color: #B5C2C8 ;
    -fx-border-width: 2; 
    -fx-border-radius: 0.8em;
    -fx-border-style: segments(10, 15, 15, 15)  line-cap round;
}
.botao-arquivo:hover {   
    -fx-text-fill: #367af5;
    -fx-border-color: #367af5;   
}
.botao-apagar {
	-fx-background-color: transparent;
	-fx-text-fill: #d50000;
	-fx-font-size: 14px;
	-fx-font-weight: bold;	
	-fx-background-radius: 5em; 	
	-fx-cursor: hand;
}
.botao-apagar:hover {
	 -fx-underline: true;
}

.botao-submit {
	-fx-background-color: #367af5;
	-fx-text-fill: white;	
	-fx-font-size: 14px;
	-fx-font-weight: bold;	
	-fx-background-radius: 5em; 	
	-fx-cursor: hand;
	
}
